ALLOWED_HOSTS = [
<%- @allowed_hosts.each do |k| -%>
    '<%= k %>',
<%- end -%>
]

DATABASE = {
<%- @database.each do |key,value| -%>
  <%- if value.kind_of?(Integer) -%>
    '<%= key.upcase %>': <%= value %>,
  <%- else -%>
    '<%= key.upcase %>': '<%= value %>',
  <%- end -%>
<%- end -%>
}

SECRET_KEY = '<%= @secret_key %>'

<% unless @admins.nil? -%>
ADMINS = [
  <%- @admins.each do |key,value| -%>
    ('<%= key %>', '<%= value %>'),
  <%- end -%>
]
<%- end -%>

<%- unless @banner_top.nil? -%>
BANNER_TOP = '<%= @banner_top %>'
<%- end -%>
<%- unless @banner_bottom.nil? -%>
BANNER_BOTTOM = '<%= @banner_bottom %>'
<%- end -%>

<%- unless @base_path.nil? -%>
BASE_PATH = '<%= @base_path %>'
<%- end -%>

<%- unless @debug.nil? -%>
DEBUG = '<%= @debug %>'
<%- end -%>

<% unless @email.nil? -%>
EMAIL = {
  <%- @email.each do |key,value| -%>
    <%- if value.kind_of?(Integer) -%>
      '<%= key.upcase %>': <%= value %>,
    <%- else -%>
      '<%= key.upcase %>': '<%= value %>',
    <%- end -%>
  <%- end -%>
}
<%- end -%>

<% unless @enforce_global_unique.nil? -%>
  <%- if @enforce_global_unique -%>
ENFORCE_GLOBAL_UNIQUE = True
  <%- else -%>
ENFORCE_GLOBAL_UNIQUE = False
  <%- end -%>
<%- end -%>

<% unless @login_required.nil? -%>
  <%- if @login_required -%>
LOGIN_REQUIRED = True
  <%- else -%>
LOGIN_REQUIRED = False
  <%- end -%>
<%- end -%>

<% unless @maintenance_mode.nil? -%>
  <%- if @maintenance_mode -%>
MAINTENANCE_MODE = True
  <%- else -%>
MAINTENANCE_MODE = False
  <%- end -%>
<%- end -%>

<%- unless @netbox_username.nil? -%>
NETBOX_USERNAME = '<%= @netbox_username %>'
<%- end -%>
<%- unless @netbox_password.nil? -%>
NETBOX_PASSWORD = '<%= @netbox_password %>'
<%- end -%>

<%- unless @paginate_count.nil? -%>
PAGINATE_COUNT = <%= @paginate_count %>
<%- end -%>

<% unless @prefer_ipv4.nil? -%>
  <%- if @prefer_ipv4 -%>
PREFER_IPV4 = True
  <%- else -%>
PREFER_IPV4 = False
  <%- end -%>
<%- end -%>

<%- unless @time_zone.nil? -%>
TIME_ZONE = '<%= @time_zone %>'
<%- end -%>
<%- unless @date_format.nil? -%>
DATE_FORMAT = '<%= @date_format %>'
<%- end -%>
<%- unless @short_date_format.nil? -%>
SHORT_DATE_FORMAT = '<%= @short_date_format %>'
<%- end -%>
<%- unless @time_format.nil? -%>
TIME_FORMAT = '<%= @time_format %>'
<%- end -%>
<%- unless @short_time_format.nil? -%>
SHORT_TIME_FORMAT = '<%= @short_time_format %>'
<%- end -%>
<%- unless @datetime_format.nil? -%>
DATETIME_FORMAT = '<%= @datetime_format %>'
<%- end -%>
<%- unless @short_datetime_format.nil? -%>
SHORT_DATETIME_FORMAT = '<%= @short_datetime_format %>'
<%- end -%>
